* {
    font-family: cursive;
}

.uper-text-heading h1 {
    font-size: 2.5em;
}

.uper-text-heading p {
    font-size: 1.2em;
}

.image-book {
    width: 10%;
}

.nav-heading > h1 {
    font-size: 2em;
}

.upload-file-div {
    width: 90%;
    padding: 20px;
}

.upload-file-div img {
    width: 200px;
}

.upload-file-div h1 {
    font-size: 2em;
}

.upload-file-div p {
    font-size: 20px;
}

.browse-button {
    font-size: 24px;
}

.copy-link-button {
    font-size: 24px;
}

.url-input {
    font-size: 24px;
}

.extracted-div {
    padding: 30px;
}

.extracted-text {
    font-size: 20px;
}

.about-application p {
    font-size: 24px;
}

.howtouse h1 {
    font-size: 30px;
}

.howtouse p {
    font-size: 18px;
}

.howtouse ul li {
    font-size: 22px;
}

.single-div h1 {
    font-size: 30px;
}

.single-div p {
    font-size: 24px;
}

.footer p {
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    .uper-text-heading h1 {
        font-size: 2em;
    }

    .uper-text-heading p {
        font-size: 1.2em;
    }

    .image-book {
        width: 30%;
    }

    .upload-file-div img {
        width: 180px;
    }

    .upload-file-div h1 {
        font-size: 1.5em;
    }

    .upload-file-div p {
        font-size: 18px;
    }

    .file-button {
        flex-direction: column;
    }

    .browse-button {
        width: 100%;
        font-size: 20px;
    }

    .copy-link-button {
        font-size: 20px;
        width: 100%;
    }

    .url-input {
        font-size: 20px;
    }

    .extracted-text {
        font-size: 18px;
    }

    .about-application p {
        font-size: 20px;
    }

    .about-application img {
        width: 100%;
    }

    .howtouse h1 {
        font-size: 25px;
    }

    .howtouse p {
        font-size: 16px;
    }

    .howtouse ul li {
        font-size: 20px;
    }

    .single-div {
        padding: 20px;
    }

    .footer p {
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    .where-to-use {
        grid-template-columns: 1fr;
    }

    .where-to-use-div h1 {
        font-size: 1em;
    }

    .uper-text-heading h1 {
        font-size: 2em;
    }

    .uper-text-heading p {
        font-size: 1.2em;
    }

    .image-book {
        width: 40%;
    }

    .upload-file-div img {
        width: 150px;
    }

    .upload-file-div h1 {
        font-size: 1.5em;
    }

    .upload-file-div p {
        font-size: 16px;
    }

    .file-button {
        flex-direction: column;
    }

    .browse-button {
        width: 100%;
        font-size: 18px;
    }

    .copy-link-button {
        font-size: 18px;
        width: 100%;
    }

    .url-input {
        font-size: 18px;
    }

    .extracted-text {
        font-size: 16px;
    }

    .about-application p {
        font-size: 18px;
    }

    .howtouse h1 {
        font-size: 20px;
    }

    .howtouse p {
        font-size: 14px;
    }

    .howtouse ul li {
        font-size: 16px;
    }

    .single-div {
        padding: 10px;
    }

    .footer p {
        font-size: 18px;
    }
}
